
@{
    ViewData["Title"] = "Home Page";
}
<div class="col-sm-12 row">

    <div class="table col-sm-4 text-center">
        <h6>Enter Patient IdentityNumber</h6>

        <div class="col-sm-12">
            <input class="form-control" type="number" id="IdentityNumber" />
            <button class="btn btn-primary" type="submit" id="Search">Search</button>
        </div>
    </div>

    <div class="col-sm-8 text-center">
        <h5>Eksikler</h5>
        <ul>
            <li>Tc Kontrolü(basamak toplamların kendi içindeki kombinasyonu)</li>
            <li>Appointment güncelleme ekranında servislerin text değil checkbox olarak gelmesi(html)</li>
            <li>Input alanların yazım hata kontrolü(boşluk,sembol ve sayısal verilerin otomatik silinmesi/Js)</li>
            <li>Tc arama alanı yanına Kayıtlı hastaların isim listesi(dropdowlist)</li>
            <li>Doktor ile Hizmet bağlantısı kurulması</li>
        </ul>
    </div>

</div>


